.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 24px;
}
.container {
  text-align: center;
  border-radius: 12px;
  padding: 24px;
}
.dark-mode {
  background-color: #000000;
  color: #ffffff;
}
.light-mode {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}
.heading {
  font-family: 'Roboto';
  font-size: 32px;
}

.button {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  border: none;
  font-size: 16px;
}
